*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-size: 15px;
}
/* uso questa classe per centrare orizzonalmente  */
.page-centre{
  width: 70%;
  margin: auto;
}
.container-topheader{
  border-bottom: 3px solid blue;
}
.top-header{
  border: 3px solid black;
  height: 80px;
  position: relative;
}
/* uso questa classe per centrare a sinistra  */
.left-centre{
  position:absolute;
  top: 50%;
  left:0%;
  transform: translate(0, -50%);

}
.menu-language{
  background-color: lightgrey;
}
.language{
  margin-right: 20px;
}
/* uso questa classe per centrare a destra */
.right-centre{
  position:absolute;
  top: 50%;
  right:0%;
  transform: translate(0, -50%);
}
.menu-login button{
  padding: 5px;
}

.bottom-header{
  height: 80px;
  border: 1px solid green;
  position: relative;
}
.logo-top{
  height: 70px;
  width: 100px;
  background-color: darkblue;
}
.menu li{
  display: inline-block;
}
.presentation{
  height: 500px;
  border-bottom: 3px solid black;
}
.form-presentation{
  width: 40%;
  margin-top: 10%;
}
.form-presentation h2{
  font-size: 3em;
  font-weight: bold;
  margin: 20px 0;
}
.form-presentation button {
  margin: 20px 0px;
  padding: 10px 20px;
}
.form-presentation .sublime-text{
  font-size: 0.7em;
}
