*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: metropolis;
  src: url(metropolis-Regular.otf);
}
body{
  font-size: 17px;
  color: #33475b;
  font-family: metropolis, sans-serif;
}
/* uso questa classe per centrare orizzonalmente  */
.page-centre{
  width: 70%;
  margin: auto;
}
.container-topheader{
  border-bottom: 1px solid #33475b;
}
.top-header{
  height: 80px;
  position: relative;
}
/* uso questa classe per centrare a sinistra  */
.left-centre{
  position:absolute;
  top: 50%;
  left:0%;
  transform: translate(0, -50%);

}

.language{
  margin-right: 20px;
  font-size: 1.2em;
}
/* uso questa classe per centrare verticalmente ed a destra */
.right-centre{
  position:absolute;
  top: 50%;
  right:0%;
  transform: translate(0, -50%);
}
.menu-login button{
  padding: 5px;
}
.menu-login .login-button{
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  margin-right: 15px;
}
.bottom-header{
  height: 80px;
  position: relative;
}

.menu li{
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
}
.menu li a{
  text-decoration: none;
  color: #33475b;
}
section {
  margin: 50px 0;
}
/* foto di sfondo top */
.presentation{
  height: 600px;
  background-image: url(../img/sfondo-top.png);
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
}
.form-presentation{
  width: 40%;
}
.form-presentation h2{
  font-size: 3em;
  font-weight: bold;
  margin: 20px 0;
}
/* button arancioni  */
.button-page {
  margin: 20px 0px;
  padding: 10px 20px;
  background: darkorange;
  border-radius: 5px;
  border: 1px solid orange;
  color: white;
}
.form-presentation .sublime-text{
  font-size: 0.7em;
}
.container-togheter{
  text-align: center;
}
/* clearfix */
.container-togheter::after, .row::after{
  content: '';
  display: table;
  clear: both;
}

.container-togheter h3{
  font-size: 2.3em;
  margin-bottom: 20px;
}
.container-togheter p{
  margin: 50px 0;
}
.f-left {
  float: left;
}
.form-book{
  margin: 5%;
  width: 20%;
  text-align: center;

}
.form-crm-free{
  margin: 5%;
  width: 60%;
}
.container-togheter h4{
  font-size: 2em
}
.form-crm-free{
  text-align: left;
}
.form-crm-free h5{
  font-size: 1.2em;
}
.form-crm-free li{
  display: inline-block;
  padding: 10px;
}
.container-3-col .box{
  width: 25%;
  margin: 4%;
}
.box h5{
  font-size: 1.2em;
  margin-bottom: 20px;
}
.box hr{
  margin: 40px 0px;
}
.box ul{
  text-align: left;
  margin-left: 15px;
}
.box .img-box img{
  width: 60%;
  margin: auto;
}
.section-blue{
  background-color: #00abb7;
}
.presentation-blue{
  color: white;
  padding-top: 50px;
}
.container-blue{
  padding-bottom: 100px;
}
.box-blue{
  width: 25%;
  height: 200px;
  border: 1px solid white;
}
.start-grow{
  height:500px;
}
.num-customer{
  height: 150px;
  width:150px;
  margin: 50px;
  text-align: center;
  line-height: 30px;
}
.num-customer h6 {
  font-size: 2em;
}
.num-customer p {
  font-size: 0.8em;
}
.container-grow{
  height:100%;
}
.form-partner {
  width: 60%;
  height: 100%;
}
.form-partner .img-logo-partner{

  height: 30%;
  width: 100%;
  background-color: green;
}
.form-partner .foto-sorriso{
  height: 70%;
  width: 100%;
  background-color: darkgreen;
}
footer{
  background-color: #32495b;
  color: white;
  height:400px;
}
.row-footer{
  padding: 30px 0;

}
.box-footer{
  width: 25%;
  padding: 0 10px;
}
.box-footer h6{
  font-size: 1.1em;
  line-height: 30px;
}
.box-footer ul {
  list-style-type: none;
}
.box-footer ul li a{
  line-height: 30px;
  text-decoration: none;
  color: white;
}
.button-support {
  padding:5px 10px;
  margin: 10px 0;
  color: #32495b;
  border: #32495b;
  border-radius: 5px;
}
.social-contact li {
  display: inline-block;
  width: 15%;
  font-size: 14px;
}
.language-footer {
  text-align: center;
  border-bottom: 1px solid white;
}
.language-footer ul li {
  display: inline-block;
  padding: 15px;
}
.language-footer ul li a {
  text-decoration: none;
  color: white;
}
